<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>demo</title>
<script type="text/javascript" src="vue.js"></script>
</head>
<body>
<div id="app">
  <!-- <p v-if="">Now you see me</p>
  <span title="ss" alt="111">Message: {{ msg }}</span> -->
      
      <!-- <div v-html="rawHtml"></div> -->
       <p>1.<input type="text" v-model="message">{{message}}</p>
      2. <span  :title="message1">鼠标悬停几秒钟查看此处动态绑定的提示信息！v-bind缩写：</span>

     <p v-if="seen"> 3. 现在你看到我了 v-if="seen" =\>   seen: true,</p>
      
   4. <ol>
        <li v-for="item in todos">
          {{ item.text }}
        </li>
      </ol>
  5.    <p>{{ message2}} <button @click="click1">逆转消息</button></p>
         
  6. 组件化开发

    <ol>
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </todo-item>
    </ol>

    <ol>
        <todo-item
          v-for="item in todos"
          v-bind:todo="item"
          v-bind:key="item.id">
       </todo-item>
      

    </ol>
<!--     v-model="aaa"
    v-if="aaa"
    v-bind:aa=aaa  "属性绑定""
    :title
 -->

   






</div>

<div id="example">
    <my-component></my-component>
</div>
  


   

</body>
<script src="jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">

// let data= {
//    message:"xiaogang0-0"
// }

Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})



var app4 = new Vue({
      el:"#app",
      data:{
         message:"简单的input数据监听 v-model",
         message1: '页面加载于 ' + new Date().toLocaleString(),
         seen: true,
         todos: [
            { text: 'v-for => for in 循环' },
            { text: 'v-for 指令可以绑定数组的数据来渲染一个项目列表11' },
            {text: "'app4.todos.push({ text: '新项目' })'" },
            { text: 'v-for 指令可以绑定数组的数据来渲染一个项目列表1' }
          ],
         message2:"v-on 指令绑定一个事件监听器，通过它调用我们 Vue 实例中定义的方法：methods:{ 监听事件、方法的挂载 }",
         groceryList: [
            { id: 0, text: '自定义组件'},
            { id: 1, text: '奶酪' },
            { id: 2, text: '随便其他什么人吃的东西' }
          ],
          dev:[
            {nanme:1},
            {nanme:2},
            {nanme:3},
            {nanme:4},

          ],
         message3:"xiaogang0-3",
         message4:"xiaogang0-4",

      },
      methods: {
        click1: function () {
          this.message2 = this.message2.split('').reverse().join('');
        },
        dianji: function(){


        }
      }
})








</script>
</html>